.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgb(54,131,64);
    color: white;
}

.line {
    background-color: #c5c5c5;
    margin: 5px auto;
    max-width: 1190px;
    display: flex;
    position: relative;
    top: 76px;
}

.navbar-inverse {
    background-color: rgb(54,131,64);
    color: white;
    border-color: rgb(54,131,64);
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #c5c5c5;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #c5c5c5;
    background-color: rgb(54,131,64);
}

.header-width{
    max-width: 1290px;
    margin: auto;
}