.errorPassword {
    float: left;
    color: red;
}

.mt-5 {
    margin-top: 52px;
}

.mt-6 {
    margin-top: 64px;
}

.mt-10 {
    margin-top: 100px;
}

.mb-10 {
    margin-bottom: 156px;
}

.title-profile {
    float: left;
    margin-bottom: 5px;
    font-size: 16px;
}

.btn-update-profile {
    float: left;
}

body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.border-right-left {
    border-left: rgb(191, 191, 191) solid;
    border-right: rgb(191, 191, 191) solid;
}