.formNewPitch {
    margin-top: 100px;
}

.row-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-form {
    width: 90%;
    margin: 0px 50px;
    text-align: left;
}

.btn {
    margin: 5px 10px;
}